<section class="section">
    <div class="container">
         <h1 class="title">Create an Account</h1>
        <form action="/signup" method="POST">
        <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                <input class="input" type="text" name="fname" placeholder="e.g Alex">
            </div>
        </div>

         <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
                <input class="input" type="text" name="lname" placeholder="e.g Smith">
            </div>
        </div>        

        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="text" name="user" placeholder="e.g. asmith14">
            </div>
        </div>

         <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" name="pass">
            </div>
        </div>
        </form>
        
    </div>
</section>