.main {
    background-color:#161616;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.container {
    height: 100vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

.columns {
    padding: 10px;
}